<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.foxtail.dao.mybatis.IndexDao">
	  
	<select id="getStatistics" resultType="map" >
	select a.customerNum,b.projectNum,c.collectNum,d.leaveNum,e.birthdayNum from
(select count(id) customerNum from cus_customer WHERE createtime>#{cmonthTime} AND createtime &lt; #{cmonthEndTime}) a,
(select count(id) projectNum from prj_project WHERE signtime>#{cmonthTime} AND signtime &lt; #{cmonthEndTime}) b ,
(select ifnull(sum(money),0) collectNum from prj_collect WHERE time>#{cmonthTime} AND time &lt; #{cmonthEndTime}) c ,
(select count(id) leaveNum from man_apply WHERE type=1 AND createtime>#{cmonthTime} AND createtime &lt; #{cmonthEndTime}) d,
(select count(id) birthdayNum from man_emp WHERE state=0 AND FROM_UNIXTIME(birthday/1000,'%m')=#{cmonth}) e
  	</select>
  	
  	
  	<select id="findSale" resultType="map" >
select a.salesmanid,a.collectNum,b.name empName from  
	(select b.salesmanid, ifnull(sum(a.money),0) collectNum from prj_collect a left join prj_project b on a.prjid=b.id WHERE 1=1
	<if test="starttime != null ">AND a.time> #{starttime}</if>
	<if test="endtime != null ">AND a.time &lt; #{endtime}</if>
  GROUP BY b.salesmanid)  a left join man_emp b on a.salesmanid=b.id
WHERE b.state=0
ORDER BY a.collectNum DESC
limit 10
  	</select>
  	
  <!-- 	<select id="findSale" resultType="map" >
	select a.salesmanid,a.collectNum,b.name empName from  
	
(select a.salesmanid,sum(ifnull(b.collectNum,0)) collectNum from prj_project a left join 
(select prjid, ifnull(sum(money),0) collectNum from prj_collect WHERE 1=1
	<if test="starttime != null ">AND time> #{starttime}</if>
	<if test="endtime != null ">AND time &lt; #{endtime}</if>
 GROUP BY prjid) b on a.id=b.prjid GROUP BY a.salesmanid) a left join man_emp b on a.salesmanid=b.id
WHERE b.state=0
ORDER BY a.collectNum DESC
limit 10

  	</select> -->
  	
 </mapper>
 