<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.foxtail.dao.mybatis.project.PrjProgressDao">
	
	<sql id="base_column">
		a.*
	</sql>

	  
	<select id="findForPage2" resultType="com.foxtail.model.project.PrjProgress" >
  		select  <include refid="base_column" /> from prj_progress a
  		WHERE prjid = #{prjid}
  		ORDER BY time DESC
  	</select>
  
		
	<select id="getById" resultType="com.foxtail.model.project.PrjProgress" >
  		select  <include refid="base_column" /> from prj_progress a where a.id=#{id}
  	</select> 

	
	
	<update id="update" >
	   UPDATE prj_progress SET
		info=#{ model.info }
		,time=#{ model.time }
		 WHERE id=#{model.id}
	</update>

	 <!-- 根据对象主键更新 -->
  	<insert id="save"  >
    INSERT INTO prj_progress(prjid, info, time) VALUES(#{ model.prjid },#{ model.info },#{ model.time })
     </insert>
	
	
	<!--批量删除-->
	<delete id="deleteByProject" >
	   delete from prj_progress
	   where prjid =#{prjid}
	</delete>
  	
  
</mapper>   
