<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.foxtail.dao.mybatis.admin.WorkReportDao">
	
	<sql id="base_column">
		a.*
	</sql>

	  
	<select id="findForPage2" resultType="com.foxtail.model.admin.WorkReport" >
  		select  <include refid="base_column" />,b.name empName,c.name deptName,d.name examineName from adm_work_report a left join man_emp b on a.empid=b.id
  		left join man_dept c on b.deptid=c.id 
  		left join man_emp d on a.examineid=d.id
  		WHERE 1=1
  		<if test="ft.type != null ">AND a.type=#{ft.type}</if>
  		<if test="ft.kw != null ">AND b.name like CONCAT('%',#{ft.kw},'%')</if>
  		<if test="ft.startTime != null ">AND a.createtime > #{ft.startTime}</if>
  		<if test="ft.endTime != null ">AND a.createtime &lt; #{ft.endTime}</if>
  		<if test="ft.sysView == 'def' ">AND a.empid = #{ft.uid}</if>
  		<if test="ft.deptids != null "> AND b.deptid in
  		  <foreach collection="ft.deptids" item="deptid" index="index"
             open="(" close=")" separator=",">
              #{deptid}
          </foreach>
  		</if>
  		<if test="ft.udeptids != null "> AND b.deptid in
  		  <foreach collection="ft.udeptids" item="deptid" index="index"
             open="(" close=")" separator=",">
              #{deptid}
          </foreach>
  		</if>
  		ORDER BY createtime DESC
  	</select>
  
		
	<select id="getById" resultType="com.foxtail.model.admin.WorkReport" >
	select  <include refid="base_column" />,b.name empName,c.name deptName,d.name examineName,e.content examineInfo from adm_work_report a left join man_emp b on a.empid=b.id
  		left join man_dept c on b.deptid=c.id 
  		left join man_emp d on a.examineid=d.id
  		left join adm_report_examin e on a.id=e.reportid
  		 where a.id=#{id}
  	</select> 

	
	
	<update id="update" >
	
	   UPDATE adm_work_report SET 
			content=#{ model.content }
			,study = #{ model.study}
			,uncomplete = #{ model.uncomplete}
			,answer = #{ model.answer}
			 WHERE id=#{model.id}
	</update>
	
<update id="updateByCustom" >
	 UPDATE adm_work_report 
	 <set >
			<if test="model.report_state != null ">report_state=#{model.report_state},</if>
			<if test="model.examineid != null ">examineid=#{ model.examineid },examinetime=#{ model.examinetime },</if>
	</set>
 WHERE id=#{model.id}
	</update>

	 <!-- 根据对象主键更新 -->
  	<insert id="save"  useGeneratedKeys="true" keyProperty="model.id">
     INSERT INTO adm_work_report(type, empid, content,study,uncomplete,answer,createtime) VALUES(#{ model.type },#{ model.empid },#{ model.content },#{ model.study },#{ model.uncomplete },#{ model.answer },unix_timestamp(now())*1000)
     </insert>
	
	
	<insert id="saveExamine"  >
    INSERT INTO adm_report_examin (reportid, content,createtime) VALUES (#{ model.reportid}, #{ model.content},unix_timestamp(now())*1000)
     </insert>
     
     
     <insert id="saveDetail"  >
    INSERT INTO adm_report_detail (reportid, sort, content, finishdate,isfinish) VALUES (#{ model.reportid}, #{ model.sort}, #{ model.content}, #{ model.finishdate},#{ model.isfinish})
     </insert>
     
     <select id="getDetail" resultType="com.foxtail.model.admin.ReportDetail" >
  		select a.* from adm_report_detail a where a.reportid=#{reportid}
  	</select> 
  	
  	<delete id="deleteDetail" >
	   delete from adm_report_detail
	   where reportid in
	      <foreach collection="reportids" item="id" index="index"
             open="(" close=")" separator=",">
              #{id}
          </foreach>
	</delete>
	
	<delete id="deleteExamine" >
	   delete from adm_report_examin
	   where reportid in
	      <foreach collection="reportids" item="id" index="index"
             open="(" close=")" separator=",">
              #{id}
          </foreach>
	</delete>
	
	
	<select id="countValid" resultType="int" >
  		select count(0) from adm_work_report where report_state != 1 AND id in
	      <foreach collection="ids" item="id" index="index"
             open="(" close=")" separator=",">
              #{id}
          </foreach>
  	</select> 
	
  
</mapper>   
