<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.foxtail.dao.mybatis.personnel.ExamineDao">
	
	<sql id="base_column">
		a.*
	</sql>

	  
	<select id="findForPage" resultType="com.foxtail.model.personnel.Examine" >
  		select  <include refid="base_column" /> from man_examine a
  	</select>
  
		
	<select id="getById" resultType="com.foxtail.model.personnel.Examine" >
  		select  <include refid="base_column" /> from man_examine a where a.id=#{id}
  	</select> 

	
	
	<update id="update" >
	   update man_examine set
		  	name = #{model.name}
	   where id = #{model.id}
	</update>

	 <!-- 根据对象主键更新 -->
  	<insert id="save"  >
     INSERT INTO man_examine (name) VALUES (#{model.name})
     </insert>
	
  	
  
</mapper>   
